In [20]:
import pandas as pd
import numpy as np
from pathlib import Path
import re

#### Support functions

In [21]:
def get_optimal_interval(dataframes: list[pd.DataFrame], time_col: str) -> float:
    """
    Find optimal time interval among datasets to avoid loosing data
    """

    min_intervals = []

    for df in dataframes:

        # calculate time between samples
        time_diffs = df[time_col].diff().dropna()

        # extract the most common interval size on the df
        min_intervals.append(time_diffs.mode()[0])

    # return optimal interval based on datasets
    return min(min_intervals)


def join_sdata(path: str, file_exception=None) -> pd.DataFrame:
    """
    Join sensor datasets into a cohessive dataset and save as CSV file.
    Adapt the new dataframe to work with optimal time interval on the 
    basis of the given datasets.
    """
    
    # generate path where datasets are located
    data_folder = Path(path)
    dataframes = []

    print("Files to be merged: \n")
    # iterate over files
    for file in data_folder.iterdir():
        if file.is_file() and file != file_exception:
            df = pd.read_csv(file)
            dataframes.append(df)
            print(f"- {file}: {len(df)} entries")
            

    # get time var from 
    time_var = next((col for col in dataframes[0].columns if "time" in col.lower()), None)

    # raise error if no time variabel found
    if time_var is None:
        raise KeyError("No time variable found. Data must be time frequency data.")

    # extrac max and min times from datasets
    min_time = min(df[time_var].min() for df in dataframes)
    max_time = max(df[time_var].max() for df in dataframes)
    print(f"\nMin time across datasets: {min_time}\nMax time across datasets: {max_time}")

    # create common time grid
    period_of_highest_freq = get_optimal_interval(dataframes, time_var) # 100 Hz by visual inspection; function is more precise
    common_time = pd.Index(np.arange(min_time, max_time, period_of_highest_freq))

    print(f"Highes fre. period: {period_of_highest_freq}\nLength of common_time: {len(common_time)}")

    # time adjusted dataframes
    adjusted_dfs = []

    # adjust each df to common time 
    for idx, df in enumerate(dataframes):
        
        # indexing df based on time
        time_indexed_df = df.set_index(time_var)

        # map old indices to common time indices
        mapped_indices = common_time.get_indexer(time_indexed_df.index, method="nearest")

        # re-index and impute values according to mapped indices
        time_resampled = time_indexed_df.reindex(common_time)
        time_resampled.iloc[mapped_indices] = time_indexed_df.values 

        # remove senor time variable 
        if time_var in time_resampled.columns:
            time_resampled.drop(time_var, axis=1)

        adjusted_dfs.append(time_resampled)

    # combine all files together 
    final_df = pd.concat(adjusted_dfs, axis=1)

    # add common time variable and index name
    final_df["Common time (s)"] = common_time
    final_df.index.name = "timestamp"

    return final_df

def add_labels(df: pd.DataFrame, labels: list[str], ctime: list[float], colname: str) -> pd.DataFrame:
    """
    Add activity labels to temporal dataframe
    """
    # create new colum for 
    df[colname] = None

    # get nearest time indices to the commulative measured 
    close_indices = df.index[df.index.get_indexer(ctime, method="nearest")]

    # fill in label for the cumulative time 
    for idx, (label, end_time) in enumerate(zip(labels, close_indices)):
        # define starting time for activeity 
        if idx == 0:
            start = df.index.min()
        else:
            start = ctime[idx - 1]
        
        # define ending time for activity
        if idx == len(ctime) - 1:
            end = df.index.max()
        else:
            end = end_time
        
        # fill in labels
        df.loc[start:end, colname] = label

    return df

def strtime_to_sec(str_time: str) -> float:
    """
    Convert 'min:sec,msec' to seconds (float)
    """

    min_, sec, msec = map(int, re.split(r"[:,]", str_time))

    total_time = (min_ * 60)  + sec + (msec / 1000)

    return total_time

def safe_interpol(df: pd.DataFrame, lb: float=0.25, ub: float=0.95, all: bool= False, edge_case: str="drop") -> pd.DataFrame:
    """
    Interpolate values in dataframe within a percentage range of missing values
    compared to the total amount of entries
    """

    for col in df.columns:
        
        # aply interpolation only if the variable is numeric 
        if pd.api.types.is_numeric_dtype(df[col]):
            
            # count nans per column
            nan_frac = df[col].isna().sum() / len(df)

            # interpolate columnns which have missing values within the range
            if (lb <= nan_frac <= ub) or all:
                df[col] = df[col].interpolate(method="linear")

                # if missing values -> edge cases (values at start or end: between NaN's)
                if df[col].isna().any():

                    # fill in with neares forward or backwards value
                    if edge_case == "fill":
                        df[col] = df[col].bfill().ffill()
                    # fill in missing values with zeros
                    elif edge_case == "zero":
                        df[col] = df[col].fillna(0)
                    # do nothing 
                    elif edge_case == "drop":
                        pass
                
    
    return df

#### Generate joined dataset

In [22]:
# join data frames, add labels and save
joined_data = join_sdata("sens_data", file_exception="sens_data\\Proximity.csv")
joined_data.head()

Files to be merged:

- sens_data/Proximity.csv: 7 entries
- sens_data/Light.csv: 300 entries
- sens_data/audio.csv: 96541 entries
- sens_data/Location.csv: 53 entries
- sens_data/Magnetometer.csv: 103422 entries
- sens_data/Accelerometer.csv: 416321 entries
- sens_data/Gyroscope.csv: 416316 entries
- sens_data/Pressure.csv: 41229 entries
- sens_data/Linear Acceleration.csv: 50893 entries

Min time across datasets: 0.0
Max time across datasets: 1035.037413
Highes fre. period: 0.0024862999999868407
Length of common_time: 416297

,Distance (cm),Illuminance (lx),amplitude,frequency,Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),...,Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Pressure (hPa),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Common time (s)
timestamp,,,,,,,,,,,,,,,,,,,,,
0.000000,NaN,126.14875,0.003599,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
0.002486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002486
0.004973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004973
0.007459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.510732,7.223082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007459
0.009945,NaN,NaN,0.007781,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,6.535572,7.266178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009945

In [23]:
joined_data.isna().sum()

Distance (cm)                    416290
Illuminance (lx)                 415997
amplitude                        319756
frequency                        319756
Latitude (°)                     416244
Longitude (°)                    416244
Height (m)                       416246
Velocity (m/s)                   416297
Direction (°)                    416297
Horizontal Accuracy (m)          416244
Vertical Accuracy (m)            416244
Magnetic field x (µT)            312875
Magnetic field y (µT)            312875
Magnetic field z (µT)            312875
Acceleration x (m/s^2)              333
Acceleration y (m/s^2)              333
Acceleration z (m/s^2)              333
Gyroscope x (rad/s)                 338
Gyroscope y (rad/s)                 338
Gyroscope z (rad/s)                 338
Pressure (hPa)                   375068
Linear Acceleration x (m/s^2)    365404
Linear Acceleration y (m/s^2)    365404
Linear Acceleration z (m/s^2)    365404
Common time (s)                       0
dtype: int64

Missing values as expected

#### Add activities

In [24]:
# activities in sequence of occurance 
activ_seq = ["rest", "walk", "phone", "stairs", "rest", 
                "phone", "socialize", "walk", "study", "walk",
                "stairs", "walk", "phone", "study", "socialize"]
# relative activity times
rtimes = ["01:15,13", "00:50,92", "01:01,08", "1:17,82", "01:15,43",
                    "00:50,37", "01:15,53", "00:42,41", "01:16,86", "00:55,36",
                    "01,29,60", "01:02,60", "00:40,60", "01:45,82", "01:26,80"]
rtimes_sec = [strtime_to_sec(t) for t in rtimes]

# actual time (cummulative time)
linear_time = [rtimes_sec[0]]
for idx, val in enumerate(rtimes_sec[1:]):
    linear_time.append(val + linear_time[idx])

In [25]:
labeld_data = add_labels(joined_data, activ_seq, linear_time, "Activity")
labeld_data["Activity"].value_counts()

Activity
walk         84153
study        72867
socialize    71326
stairs       66823
phone        60775
rest         60353
Name: count, dtype: int64

Activites added correctly!

In [26]:
x = pd.Index(np.arange(0, 10, 0.5))
y = [1.66, 7.8, 0.5, 8.88, 5.28]
mapped_y = x.get_indexer(y, method="nearest")
print(f"x ={x.values}")
print(f"y = {y}")
print(f"Mapped_y {mapped_y}")
print(f"Index mapping: {x[mapped_y].values}")

x =[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5 7.  7.5 8.  8.5
 9.  9.5]
y = [1.66, 7.8, 0.5, 8.88, 5.28]
Mapped_y [ 3 16  1 18 11]
Index mapping: [1.5 8.  0.5 9.  5.5]

#### Add survey values

In [27]:
surv_data = pd.read_csv("responses_survey.csv")
surv_data.head()

,Timestamp,Mood,Arousal,Social engagement,Noise Level,Concentration Level
0,6/5/2025 16:26:37,3,2,1,3,1
1,6/5/2025 16:27:33,3,3,1,2,1
2,6/5/2025 16:28:34,3,2,1,2,1
3,6/5/2025 16:29:40,3,3,1,2,1
4,6/5/2025 16:30:35,3,2,1,1,1

In [28]:
# add relative time experiment 
surv_data["Linear time"] = None
start_time = None

for idx, time_val in enumerate(surv_data.iloc[:, 0]):
    # extract time from timestamp and convert to min:sec,msec
    time = time_val.split()[1][3:] + ",00"
    
    # get relative time 
    if start_time is None: start_time = strtime_to_sec(time)

    linear_time = strtime_to_sec(time) - start_time

    surv_data.loc[idx, "Linear time"] = linear_time

surv_data.head()

,Timestamp,Mood,Arousal,Social engagement,Noise Level,Concentration Level,Linear time
0,6/5/2025 16:26:37,3,2,1,3,1,0.0
1,6/5/2025 16:27:33,3,3,1,2,1,56.0
2,6/5/2025 16:28:34,3,2,1,2,1,117.0
3,6/5/2025 16:29:40,3,3,1,2,1,183.0
4,6/5/2025 16:30:35,3,2,1,1,1,238.0

In [29]:
# add labels from survey data
ctime = surv_data["Linear time"]

# loop over each variable to add labels 
for col in surv_data.columns[1:-1]:
    add_labels(joined_data, surv_data[col], ctime, col)

# check imputation of labels
for col in surv_data.columns[1:-1]:
    print(f"{col} NaN's: {joined_data[col].isna().sum()}")

Mood NaN's: 0
Arousal  NaN's: 0
Social engagement  NaN's: 0
Noise Level NaN's: 0
Concentration Level NaN's: 0

Correct assignment of value

In [30]:
# view of current dataset
joined_data.head()

,Distance (cm),Illuminance (lx),amplitude,frequency,Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),...,Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Common time (s),Activity,Mood,Arousal,Social engagement,Noise Level,Concentration Level
timestamp,,,,,,,,,,,,,,,,,,,,,
0.000000,NaN,126.14875,0.003599,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,rest,3,3,1,2,1
0.002486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.002486,rest,3,3,1,2,1
0.004973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.004973,rest,3,3,1,2,1
0.007459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.007459,rest,3,3,1,2,1
0.009945,NaN,NaN,0.007781,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.009945,rest,3,3,1,2,1

In [31]:
joined_data.isna().sum()

Distance (cm)                    416290
Illuminance (lx)                 415997
amplitude                        319756
frequency                        319756
Latitude (°)                     416244
Longitude (°)                    416244
Height (m)                       416246
Velocity (m/s)                   416297
Direction (°)                    416297
Horizontal Accuracy (m)          416244
Vertical Accuracy (m)            416244
Magnetic field x (µT)            312875
Magnetic field y (µT)            312875
Magnetic field z (µT)            312875
Acceleration x (m/s^2)              333
Acceleration y (m/s^2)              333
Acceleration z (m/s^2)              333
Gyroscope x (rad/s)                 338
Gyroscope y (rad/s)                 338
Gyroscope z (rad/s)                 338
Pressure (hPa)                   375068
Linear Acceleration x (m/s^2)    365404
Linear Acceleration y (m/s^2)    365404
Linear Acceleration z (m/s^2)    365404
Common time (s)                       0
Activity                              0
Mood                                  0
Arousal                               0
Social engagement                     0
Noise Level                           0
Concentration Level                   0
dtype: int64

In [32]:
# save dataset
joined_data.to_csv("final_data.csv")

#### Impute missing values using interpolation

In [21]:
# interpolate missing values
joined_data_interpol = joined_data.copy()
joined_data_interpol = safe_interpol(joined_data,all=True, edge_case="fill") # interpolate all missing values
joined_data_interpol.head()

,Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),amplitude,frequency,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Illuminance (lx),Linear Acceleration x (m/s^2),...,Magnetic field z (µT),Pressure (hPa),Distance (cm),Common time (s),Activity,Mood,Arousal,Social engagement,Noise Level,Concentration Level
timestamp,,,,,,,,,,,,,,,,,,,,,
0.000000,-1.889025,6.510732,7.223082,0.003599,0.0,-0.087699,-0.106835,0.023549,126.148750,0.064004,...,80.715195,1005.813538,5.0,0.000000,rest,3,3,1,2,1
0.002486,-1.889025,6.510732,7.223082,0.004645,0.0,-0.087699,-0.106835,0.023549,126.186690,0.064004,...,80.715195,1005.813538,5.0,0.002486,rest,3,3,1,2,1
0.004973,-1.889025,6.510732,7.223082,0.005690,0.0,-0.087699,-0.106835,0.023549,126.224630,0.064004,...,80.715195,1005.813538,5.0,0.004973,rest,3,3,1,2,1
0.007459,-1.889025,6.510732,7.223082,0.006736,0.0,-0.087699,-0.106835,0.023549,126.262570,0.064004,...,80.715195,1005.813538,5.0,0.007459,rest,3,3,1,2,1
0.009945,-1.898602,6.535572,7.266178,0.007781,0.0,-0.087699,-0.106835,0.023549,126.300509,0.064004,...,80.715195,1005.813538,5.0,0.009945,rest,3,3,1,2,1

We runned interpolation in all values and used backwards and fowards filling for edge cases

In [14]:
joined_data.isna().sum()

Acceleration x (m/s^2)                0
Acceleration y (m/s^2)                0
Acceleration z (m/s^2)                0
amplitude                             0
frequency                             0
Gyroscope x (rad/s)                   0
Gyroscope y (rad/s)                   0
Gyroscope z (rad/s)                   0
Illuminance (lx)                      0
Linear Acceleration x (m/s^2)         0
Linear Acceleration y (m/s^2)         0
Linear Acceleration z (m/s^2)         0
Latitude (°)                          0
Longitude (°)                         0
Height (m)                            0
Velocity (m/s)                   416297
Direction (°)                    416297
Horizontal Accuracy (m)               0
Vertical Accuracy (m)                 0
Magnetic field x (µT)                 0
Magnetic field y (µT)                 0
Magnetic field z (µT)                 0
Pressure (hPa)                        0
Distance (cm)                         0
Common time (s)                       0
Activity                              0
Mood                                  0
Arousal                               0
Social engagement                     0
Noise Level                           0
Concentration Level                   0
dtype: int64

In [26]:
remove_cols = []

# check for missing values in final data set
for col in joined_data_interpol.columns:
    nans = joined_data_interpol[col].isna().sum()
    if nans:
        print(f"{col} has {nans}")
        remove_cols.append(col)

Velocity (m/s) has 416297
Direction (°) has 416297

In [16]:
len(joined_data_interpol)

416297

The above variables have no values at all so we will remove them

In [ ]:
# drop empty variables
joined_data_interpol.drop(columns=remove_cols, inplace=True)

In [ ]:
joined_data_interpol.to_csv("final_data_interpol.csv")

In [19]:
joined_data.isna().sum()

Acceleration x (m/s^2)                0
Acceleration y (m/s^2)                0
Acceleration z (m/s^2)                0
amplitude                             0
frequency                             0
Gyroscope x (rad/s)                   0
Gyroscope y (rad/s)                   0
Gyroscope z (rad/s)                   0
Illuminance (lx)                      0
Linear Acceleration x (m/s^2)         0
Linear Acceleration y (m/s^2)         0
Linear Acceleration z (m/s^2)         0
Latitude (°)                          0
Longitude (°)                         0
Height (m)                            0
Velocity (m/s)                   416297
Direction (°)                    416297
Horizontal Accuracy (m)               0
Vertical Accuracy (m)                 0
Magnetic field x (µT)                 0
Magnetic field y (µT)                 0
Magnetic field z (µT)                 0
Pressure (hPa)                        0
Distance (cm)                         0
Common time (s)                       0
Activity                              0
Mood                                  0
Arousal                               0
Social engagement                     0
Noise Level                           0
Concentration Level                   0
dtype: int64